{% extends "base.html" %}

{% block title %}
Confirm imported newspaper endorsements
{% endblock %}

{% block breadcrumbs %}
<a class="section" href="{% url 'index' %}">Home</a>
<i class="right angle icon divider"></i>
<a class="section" href="{% url 'progress-index' %}">Import progress</a>
<i class="right angle icon divider"></i>
Confirm newspapers
{% endblock %}

{% block content %}
<h2>
    {{ newspaper.name }} ::
    <a href="https://twitter.com/search?f=users&q={{ name }}">
        <i class="twitter icon"></i>
    </a>
    <a href="https://www.google.com/search?q={{ name }} +twitter">
        <i class="google icon"></i>
    </a>
    <a href="https://www.google.com/search?q={{ name }}&tbm=isch">
        <i class="image icon"></i>
    </a>
    <a href="http://en.wikipedia.org/wiki/{{ name.split|join:"_" }}">
        <i class="wikipedia icon"></i>
    </a>
    ::
    <a href="{% url 'admin:wikipedia_importednewspaper_change' newspaper.pk %}">
        {{ newspaper.pk }}
    </a>
</h2>


<form class="ui form" method="post"
      action="{% url 'newspaper-add' newspaper.pk %}">
    {% csrf_token %}
    <div class="ui segment">
        <div class="ui two column grid">
            <div class="column">
                <div class="field">
                    <label>Endorser name</label>
                    {{ endorser_form.name }}
                </div>
                <div class="two fields">
                    <div class="field">
                        {{ endorser_form.twitter_username_1 }}
                    </div>
                    <div class="field">
                        {{ endorser_form.twitter_username_2 }}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label>Endorser description</label>
                    {{ endorser_form.description }}
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="twelve wide field">
                <label>Endorser URL</label>
                {{ endorser_form.url }}
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui segment">
        <div class="four fields">
            <div class="field">
                <label>Position</label>
                {{ endorsement_form.position }}
            </div>
            <div class="field">
                <label>Date</label>
                {{ endorsement_form.date }}
            </div>
            <div class="field">
                <label>Source name</label>
                {{ endorsement_form.source_name }}
            </div>
            <div class="field">
                <label>Event</label>
                {{ endorsement_form.event }}
            </div>
        </div>
        <div class="field">
            <label>
                Source URL
                {% if source_url %}
                {{ source_url|urlize }}
                {% endif %}
            </label>
            {{ endorsement_form.source_url }}
        </div>
        <div class="field">
            <label>Context</label>
            {{ endorsement_form.context }}
        </div>
        <div class="field">
            <label>Quote</label>
            {{ endorsement_form.quote }}
        </div>
    </div>
    <button class="ui green icon button" type="submit" autofocus>
        <i class="check icon"></i>
        Confirm endorsement
    </button>
</form>
{% endblock %}
