{% extends "base.html" %}

{% load humanize %}

{% block breadcrumbs %}
<a class="section" href="{% url 'index' %}">Home</a>
<i class="right angle icon divider"></i>
Add endorsement
{% endblock %}

{% block content %}
<h1>Add endorsement for {{ account.name }}</h1>
<div class="ui grid">
    <div class="four wide column">
        <div class="ui fluid card">
            <div class="image">
                <img src="{{ account.profile_image_url }}" />
            </div>
            <div class="content">
                <div class="header">{{ account.name }}</div>
                <div class="meta">
                    @{{ account.screen_name }}
                    ({{ account.followers_count|intcomma }} followers)
                </div>
                <div class="description">{{ account.description }}</div>
            </div>
            {% if account.url %}
            <div class="extra content">
                <a href="{{ account.url }}">{{ account.url }}</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="twelve wide column">
        {% if form.errors %}
        <div class="ui error message">
            {{ form.errors }}
        </div>
        {% endif %}
        <form class="ui form" method="post">
            {% csrf_token %}
            <div class="ui two fields">
                <div class="field">
                    <label>Date</label>
                    {{ form.date }}
                </div>
                <div class="field">
                    <label>Candidate</label>
                    {{ form.candidate }}
                </div>
            </div>
            <div class="ui field">
                <label>URL</label>
                {{ form.url }}
            </div>
            <div class="ui divider">
                <div class="ui centered fluid buttons">
                    <button type="submit" class="ui green button">
                        Add endorsement
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
