{% extends "base.html" %}

{% load humanize %}

{% block title %}
    Election 2016 Endorsements
{% endblock %}

{% block buttons %}
{% include "add_endorser_snippet.html" %}
{% endblock %}

{% block content %}
<div class="ui message">
    <img alt="Logo" class="ui middle aligned tiny left floated image"
         src="https://s3.amazonaws.com/endorsementdb.com/images/endorsementdb.png" />
    <p>
        This project is an attempt to track candidate endorsements in the 2016
        US presidential election in a structured, non-partisan manner. We
        currently have {{ count }} endorsers (including both individual people
        and organisations) in our database.
    </p>
    <p>
        It's still under active development, so if you notice a bug, or
        error, or just something that could be improved, please send me an
        email at <a
        href="mailto:admin@endorsement.com">admin@endorsementdb.com</a>
        or find me on Twitter at <a
        href="https://twitter.com/endorsementdb">@endorsementdb</a>.
        If you're interested in helping out in any way, take a look at <a
        href="https://github.com/endorsementdb/endorsementdb.com">the
        GitHub repo</a>.
    </p>
</div>
{% verbatim %}
<template id="endorser-search-stats-template">
    <div v-if="stats">
        <div class="ui block header"
             @click="toggle_expanded"
             :class="expanded ? 'top attached' : ''">
            <i class="chevron down icon" v-if="!expanded"></i>
            <i class="chevron up icon" v-if="expanded"></i>
            Stats
        </div>
        <div class="ui bottom attached inverted segment"
             v-show="expanded"
             v-if="stats.positions">
            <h3>
                {{ stats.count.endorsers }} endorsers with
                {{ stats.count.endorsements }} distinct endorsements
            </h3>
            <div class="ui basic center aligned segment">
                <div class="ui buttons">
                    <button class="ui button"
                            :class="{active: tab == 'positions'}"
                            @click="tab = 'positions'">
                        Positions
                    </button>
                    <button class="ui button"
                            :class="{active: tab == 'tags'}"
                            @click="tab = 'tags'">
                        Tags
                    </button>
                    <button class="ui button"
                            :class="{active: tab == 'json'}"
                            @click="tab = 'json'">
                        JSON
                    </button>
                </div>
            </div>
            <table class="ui striped table" v-if="tab == 'tags'">
                <thead>
                    <tr>
                        <th>
                            Position
                        </th>
                        <th>
                            Count
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(tag_count, tag_name, tag_index) in stats.tags">
                        <td>
                            {{ tag_name }}
                        </td>
                        <td>
                            {{ tag_count }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="ui striped table" v-if="tab == 'positions'">
                <thead>
                    <tr>
                        <th>
                            Position
                        </th>
                        <th>
                            Count
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(pos_val, pos_name, pos_index) in stats.positions">
                        <td>
                            <i class="green inverted circular comment icon"
                               v-if="pos_name.indexOf('Endorse') >= 0"></i>
                            <i class="red inverted circular comment icon"
                               v-if="pos_name.indexOf('Oppose') >= 0"></i>
                            <i class="blue inverted circular comment icon"
                               v-if="pos_name.indexOf('Support') >= 0"></i>
                            {{ pos_name }}
                        </td>
                        <td>
                            {{ pos_val }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <pre v-if="tab == 'json'"><code>{{ stats | json }}</code></pre>
        </div>
    </div>
</template>

<template id="endorser-filter-form-tags-template">
    <div class="ui labels">
        <button class="ui label"
                :class="tag_is_selected(tag) ? 'black' : 'basic'"
                @click="toggle_tag(tag)"
                v-for="tag in tags">
            {{ tag.name }}
        </button>
    </div>
</template>

<template id="endorser-filter-form-exclusive-tags-template">
    <div class="ui form">
        <div class="inline fields">
            <div class="field"
                 @click="toggle_tag(tag)"
                 v-for="tag in tags">
                <div class="ui radio checkbox">
                    <input type="radio"
                           :checked="tag_is_selected(tag)"/>
                    <label>{{ tag.name }}</label>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="endorser-sort-filter-form-template">
    <div>

        <div class="ui top attached inverted segment">
            <div class="ui inverted header">
                <i class="loading notched circle icon" v-show="loaders != 0"></i>
                Sort
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui form">
                <div class="three fields">
                    <div class="field"
                         v-for="sort_option in options.sorting">
                        <label>{{ sort_option.name }}</label>
                        <div class="ui basic buttons">
                            <button class="ui button"
                                    v-for="option in sort_option.options"
                                    :class="{active: sorting_by(sort_option.value, option.value)}"
                                    @click="sort(sort_option.value, option.value)">
                                {{ option.name }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui attached inverted segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <div class="ui inverted header">
                        <i class="loading notched circle icon" v-show="loaders != 0"></i>
                        Filter
                    </div>
                </div>
                <div class="right aligned column">
                    <div class="ui buttons">
                        <button v-for="tab in tabs.all"
                                @click="select_tab(tab.value)"
                                class="ui button"
                                :class="tabs.current == tab.value ? 'active' : ''">
                            {{ tab.name }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui attached segment"
             v-if="tabs.current == 'organisation'">
            <div class="ui form">
                <div class="field">
                    <label>Tags</label>
                    <endorser-filter-form-exclusive-tags :tags="options.filter.tags.org"
                                               :selected_tags="form.filter.tags">
                    </endorser-filter-form-exclusive-tags>
                </div>
            </div>
        </div>
        <div class="ui attached segment"
             v-if="tabs.current == 'personal'">
            <div class="ui form">
                <div class="field"
                     v-for="tag_group in options.filter.tags.personal">
                    <label>{{ tag_group.name }}</label>
                    <div v-if="tag_group.exclusive">
                        <endorser-filter-form-exclusive-tags :tags="tag_group.tags"
                                                             :selected_tags="form.filter.tags">
                        </endorser-filter-form-exclusive-tags>
                    </div>
                    <div v-if="!tag_group.exclusive">
                        <endorser-filter-form-tags :tags="tag_group.tags"
                                                   :selected_tags="form.filter.tags">
                        </endorser-filter-form-tags>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui center aligned bottom attached inverted segment">
            <button class="ui button"
                    :disabled="loaders != 0"
                    :class="{disabled: loaders != 0}"
                    @click="search">
                <i class="loading notched circle icon"
                   v-show="loaders != 0"></i>
                Search
            </button>
        </div>
    </div>
</template>

<template id="endorser-accounts-template">
    <div class="ui list">
        <div v-for="account in accounts"
             class="item">
            <div class="content">
                <i class="twitter icon"></i>
                <a :href="url(account)">
                    <strong>@{{ account.username }}</strong>
                </a>

                <span>
                    {{ account.num_followers }} followers
                </span>
             </div>
         </div>
    </div>
</template>

<template id="endorsement-label-template">
    <div class="ui label"
         :class="endorsement.colour">
         {{ endorsement.display }}
    </div>
</template>

<template id="endorsement-accordion-item-template">
    <div>
        <div class="title"
             :class="{active: expanded}"
             @click="toggle()">

            <i class="dropdown icon"></i>
            <endorsement-label :endorsement="endorsement">
            </endorsement-label>
            as of
            <div class="ui basic label">
                {{ endorsement.date }}
            </div>
        </div>
        <div class="content"
             :class="{active: expanded}">
            <blockquote :cite="endorsement.source_url">
                <p v-if="endorsement.event">
                    <em>
                        [{{ endorsement.event_context }}
                        <a :title="endorsement.event_dates">{{ endorsement.event }}</a>]
                    </em>
                    <br />
                    <br />
                </p>

                <p v-if="endorsement.context">
                    <em>[{{ endorsement.context }}]</em>
                    <br />
                    <br />
                </p>

                <p>{{ endorsement.quote }}</p>
                <footer>
                    <cite>
                        &mdash;
                        <a :href="endorsement.source_url">
                            {{ endorsement.source_name }}
                            <i class="external link icon"></i>
                        </a>
                        <span v-if="endorsement.date != endorsement.source_date">
                            (published {{ endorsement.source_date }})
                        </span>
                    </cite>
                </footer>
            </blockquote>
        </div>
    </div>
</template>

<template id="endorsements-accordion-template">
    <div>
        <div v-if="endorsements && endorsements.length"
             class="ui fluid accordion">
            <endorsement-accordion-item v-for="(endorsement, index) in endorsements"
                                        :present="index == 0"
                                        :endorsement="endorsement"
                                        :endorser="endorser">
            </endorsement-accordion-item>
        </div>
        <div v-else>
            <div v-if="endorser.is_candidate">
                <h3>{{ endorser.name }} is a candidate.</h3>
            </div>
            <div v-else>
                <h3>{{ endorser.name }} has not endorsed anyone yet.</h3>
            </div>
        </div>
    </div>
</template>

<template id="comments-accordion-template">
    <div v-if="comments && comments.length">
        <div class="ui divider"></div>
        <div class="ui fluid accordion">
             <h3>Comments</h3>
             <div v-for="comment in comments">
                {{ comment.candidate }}
             </div>
        </div>
    </div>
</template>

<template id="endorser-tags-template">
    <div class="ui labels">
        <div class="ui label"
             v-for="tag in tags"
             :title="tag.description">
            {{ tag.name }}
        </div>
    </div>
</template>

<template id="endorser-card-template">
    <div class="ui card">
        <div class="image">
            <img :src="endorser.image" />
        </div>

        <div class="content">
            <div class="header">
                <a :href="endorser.absolute_url">
                    {{ endorser.name }}
                </a>
            </div>
            <a :href="endorser.url"
               v-if="endorser.url"
               class="meta">
                {{ endorser.url }}
            </a>

            <p v-if="endorser.description"
               class="description">
                {{ endorser.description }}
            </p>

            <div class="ui divider"></div>

            <div class="ui labels"
                 v-if="endorser.tags.length">
                <endorser-tags :tags="endorser.tags">
                <endorser-tags>
            </div>

            <div class="ui divider"></div>

            <endorsements-accordion :endorser="endorser"
                                    :endorsements="endorser.endorsements">
            </endorsements-accordion>

            <comments-accordion :endorser="endorser"
                                :comments="endorser.comments">
            </comments-accordion>

            <div class="ui divider"></div>

            <endorser-accounts :accounts="endorser.accounts">
            </endorser-accounts>
        </div>
    </div>
</template>

<div id="app">
    <div>
        <endorser-sort-filter-form :loaders="loaders"
                                   @form_changed="get_endorsers">
        </endorser-sort-filter-form>

        <div class="ui divider"></div>

        <endorser-search-stats :stats="stats">
        </endorser-search-stats>

        <div class="ui divider"></div>

        <div class="ui three cards">
            <endorser-card v-for="(endorser, endorser_index) in endorsers"
                           v-if="endorser_index < endorsers_shown"
                           :endorser="endorser">
            </endorser-card>
        </div>
    </div>

    <div class="ui hidden divider"></div>

    <div v-if="loaders > 0">
        <div class="ui basic segment">
            <div class="ui active loader"></div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script>
Vue.component('endorser-search-stats', {
    template: '#endorser-search-stats-template',

    data: function() {
        return {
            expanded: false,
            tab: 'tags',
        };
    },

    methods: {
        toggle_expanded: function() {
            this.expanded = !this.expanded;
        },
    },

    props: ['stats'],
});

Vue.component('endorser-filter-form-tags', {
    template: '#endorser-filter-form-tags-template',

    methods: {
        tag_is_selected: function(tag) {
            return this.selected_tags.indexOf(tag.pk) >= 0;
        },
        toggle_tag: function(tag) {
            var tag_index = this.selected_tags.indexOf(tag.pk);

            if(tag_index >= 0) {
                this.selected_tags.splice(tag_index, 1);
            } else {
                this.selected_tags.push(tag.pk);
            }
        },
    },

    props: ['selected_tags', 'tags'],
});

Vue.component('endorser-filter-form-exclusive-tags', {
    template: '#endorser-filter-form-exclusive-tags-template',

    methods: {
        tag_is_selected: function(tag) {
            return this.selected_tags.indexOf(tag.pk) >= 0;
        },
        toggle_tag: function(tag) {
            if(this.tag_is_selected(tag)) {
                this.raw_unselect_tag(tag);
            } else {
                this.tags.forEach(this.raw_unselect_tag);
                this.selected_tags.push(tag.pk);
            }
        },

        raw_unselect_tag: function(tag) {
            var tag_index = this.selected_tags.indexOf(tag.pk);
            if(tag_index >= 0) {
                this.selected_tags.splice(tag_index, 1);
            }
        }
    },

    props: ['selected_tags', 'tags'],
});

Vue.component('endorser-sort-filter-form', {
    template: '#endorser-sort-filter-form-template',

    data: function() {
        // See if there's a candidate specified in the URL. TODO: Improve.
        var candidate = null;
        if (window.location.hash.startsWith('#candidate=')) {
            candidate = window.location.hash.substring(11);
        }
        return {
            form: {
                sort: {
                    by: 'followers',
                    value: 'most',
                },
                filter: {
                    tags: [],
                    mode: 'none',
                    candidate: candidate,
                },
            },
            tabs: {
                current: 'none',
                all: [
                    { name: 'No filtering', value: 'none' },
                    { name: 'People only', value: 'personal' },
                    { name: 'Organisations only', value: 'organisation' },
                ],
            },
            options: {
                sorting: [
                    {
                        name: 'Followers',
                        value: 'followers',
                        options: [
                            { name: 'Most', value: 'most' },
                            { name: 'Least', value: 'least' },
                        ],
                    },
                    {
                        name: 'Endorsement date',
                        value: 'date',
                        options: [
                            { name: 'Newest first', value: 'newest' },
                            { name: 'Oldest first', value: 'oldest' },
                        ],
                    },
                    {
                        name: 'Name',
                        value: 'name',
                        options: [
                            { name: 'A-Z', value: 'az' },
                            { name: 'Z-A', value: 'za' },
                        ],
                    },
                ],
                filter: {
                    tags: {},
                }
            },
        };
    },

    methods: {
        sort: function(method, value) {
            this.form.sort.by = method;
            this.form.sort.value = value;
        },
        sorting_by: function(method, value) {
            return this.form.sort.by == method &&
                   this.form.sort.value == value;
        },

        get_tags: function() {
            var component = this;
            var tagsUrl = '/api/tags.json';

            $.getJSON(tagsUrl)
            .done(function(tag_options) {
                component.options.filter.tags = tag_options;
            });
        },

        select_tab: function(tab) {
            this.form.filter.tags = [];
            this.form.filter.mode = tab;
            this.tabs.current = tab;
        },

        search: function() {
            this.$emit('form_changed', this.form);
        },
    },

    mounted: function() {
        this.get_tags();
        this.search();
    },

    props: ['loaders'],
});

Vue.component('endorser-accounts', {
    template: '#endorser-accounts-template',

    methods: {
        url: function(account) {
            return 'https://twitter.com/' + account.username;
        },
    },

    props: ['accounts'],
});

Vue.component('endorsement-label', {
    template: '#endorsement-label-template',

    props: ['endorsement'],
});

Vue.component('endorsement-accordion-item', {
    template: '#endorsement-accordion-item-template',

    data: function() {
        return {
            expanded: false,
        };
    },

    methods: {
        toggle: function() {
            this.expanded = !this.expanded;
        },
    },

    props: ['endorser', 'endorsement', 'present'],
});

Vue.component('comments-accordion', {
    template: '#comments-accordion-template',

    props: ['endorser', 'comments'],
});

Vue.component('endorsements-accordion', {
    template: '#endorsements-accordion-template',

    props: ['endorser', 'endorsements'],
});

Vue.component('endorser-tags', {
    template: '#endorser-tags-template',

    props: ['tags'],
});

Vue.component('endorser-card', {
    template: '#endorser-card-template',

    props: ['endorser'],
});

new Vue({
    el: '#app',

    created: function() {
        var component = this;

        $(window).scroll(function() {
            var current_position = $(window).scrollTop() + $(window).height();
            var doc_height_with_buffer = $(document).height() - 100;

            if(current_position >= doc_height_with_buffer) {
                component.$emit('maybe-load-more-endorsers');
            }
        });

        component.$on('maybe-load-more-endorsers', function() {
            if(component.endorsers_shown < component.endorsers.length) {
                component.endorsers_shown += component.page_size;
            }
        });
    },

    data: {
        loaders: 0,
        endorsers: [],
        page_size: 9,
        endorsers_shown: 9,
        stats: null,
    },

    methods: {
        get_endorsers: function(form) {
            var component = this;

            component.endorsers = [];
            component.endorsers_shown = component.page_size;
            component.stats = null;

            component.loaders += 1;

            var endorsersUrl = "/api/endorsements.json";

            $.ajax({
                type: 'POST',
                url: endorsersUrl,
                data: JSON.stringify(form),
                contentType: 'application/json'
            })
            .done(function(response) {
                if(response.endorsers.length === 0) {
                    component.end = true;
                }

                var endorsers = response.endorsers;
                component.endorsers = endorsers;

                component.stats = response.stats;

                component.loaders -= 1;
            });
        },
    },

    mounted: function() {
    },
});
</script>
{% endblock %}
