{% extends "base.html" %}

{% load humanize %}

{% block title %}
    Election 2016 Endorsements
{% endblock %}

{% block buttons %}
{% include "add_endorser_snippet.html" %}
{% endblock %}

{% block content %}
<div class="ui message">
    <img alt="Logo" class="ui middle aligned tiny left floated image"
         src="https://s3.amazonaws.com/endorsementdb.com/images/endorsementdb.png" />
    <p>
        This project is an attempt to track candidate endorsements in the 2016
        US presidential election in a structured, non-partisan manner. We
        currently have {{ counts.total }} endorsers in our database. Use the
        form below to sort and filter endorsements by endorser attributes or by candidate.
    </p>
    <p>
        It's still under active development, so if you notice a bug, or
        error, or just something that could be improved, please send me an
        email at <a
        href="mailto:admin@endorsement.com">admin@endorsementdb.com</a>
        or find me on Twitter at <a
        href="https://twitter.com/endorsementdb">@endorsementdb</a>.
        If you're interested in helping out in any way, take a look at <a
        href="https://github.com/endorsementdb/endorsementdb.com">the
        GitHub repo</a>.
    </p>
</div>
{% verbatim %}
<template id="endorser-search-stats-template">
    <div v-if="stats">
        <h3 class="ui block header"
             @click="toggle_expanded"
             :class="expanded ? 'top attached' : ''">
            <i class="chevron down icon" v-if="!expanded"></i>
            <i class="chevron up icon" v-if="expanded"></i>
            Stats
            ({{ stats.count.endorsers }} endorsers with
            {{ stats.count.endorsements }} distinct endorsements)
        </h3>
        <div class="ui bottom attached inverted segment"
             v-show="expanded"
             v-if="stats.positions">
            <div class="ui basic center aligned segment">
                <div class="ui buttons">
                    <button class="ui button"
                            :class="{active: tab == 'counts'}"
                            @click="tab = 'counts'">
                        Counts
                    </button>
                    <button class="ui button"
                            :class="{active: tab == 'positions'}"
                            @click="tab = 'positions'">
                        Positions
                    </button>
                    <button class="ui button"
                            :class="{active: tab == 'tags'}"
                            @click="tab = 'tags'">
                        Tags
                    </button>
                </div>
            </div>
            <div class="ui basic center aligned inverted segment"
                 v-if="tab == 'counts'">
                <p>
                    There are
                    {{ stats.count.endorsers }} endorsers
                    with
                    {{ stats.count.endorsements }} endorsements.
                </p>
                <p>
                    The mean number of followers
                    of each Twitter account is
                    {{ stats.followers.average }}.
                </p>
            </div>
            <table class="ui compact striped table" v-if="tab == 'tags'">
                <thead>
                    <tr>
                        <th>
                            Tag
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            %
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(tag, tag_index) in stats.tags">
                        <td>
                            {{ tag.name }}
                        </td>
                        <td>
                            {{ tag.count }}
                        </td>
                        <td>
                            {{ percentage(tag.count, stats) }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="ui striped table" v-if="tab == 'positions'">
                <thead>
                    <tr>
                        <th>
                            Position
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            %
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(position, pos_index) in stats.positions">
                        <td>
                            <i class="small inverted circular comment icon"
                               :class="position.icon"></i>
                            {{ position.name }}
                        </td>
                        <td>
                            {{ position.count }}
                        </td>
                        <td>
                            {{ percentage(position.count, stats) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<template id="endorser-filter-form-tags-template">
    <div class="ui labels">
        <button class="ui label"
                :class="tag_is_selected(tag) ? 'black' : 'basic'"
                @click="toggle_tag(tag)"
                v-for="tag in tags">
            {{ tag.name }}
        </button>
    </div>
</template>

<template id="endorser-filter-form-exclusive-tags-template">
    <div class="ui form">
        <div class="inline fields"
             v-if="tags.length <= 5">
            <div class="field"
                 @click="toggle_tag(tag)"
                 v-for="tag in tags">
                <div class="ui radio checkbox">
                    <input type="radio"
                           :checked="tag_is_selected(tag)"/>
                    <label>{{ tag.name }}</label>
                </div>
            </div>
        </div>
        <div v-if="tags.length > 5"
             class="field">
            <select class="ui search selection dropdown"
                    @changed="changed($event)">
                <option value="none" selected="selected">
                    None
                </option>
                <option v-for="tag in tags"
                        :value="tag.pk">
                    {{ tag.name }}
                </option>
            </select>
        </div>
    </div>
</template>

<template id="endorser-sort-filter-form-template">
    <div>
        <div class="ui attached segment">
            <div class="ui middle aligned grid">
                <div class="two wide column">
                    <h3>
                        <i class="sort icon"></i>
                        Sort
                    </h3>
                </div>
                <div class="fourteen wide right aligned column">
                    <div class="ui form">
                        <div class="fields" style="margin: 0; float: right">
                            <div class="inline field"
                                 v-for="sort_option in options.sorting">
                                <label>{{ sort_option.name }}</label>
                                <div class="ui buttons">
                                    <button class="ui button"
                                            v-for="option in sort_option.options"
                                            :class="{black: sorting_by(sort_option.value, option.value)}"
                                            @click="sort(sort_option.value, option.value)">
                                        {{ option.name }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui attached segment">
            <div class="ui middle aligned grid">
                <div class="two wide column">
                    <h3>
                        <i class="filter icon"></i> Filter
                    </h3>
                </div>
                <div class="fourteen wide right aligned column">
                    <div class="ui buttons">
                        <button v-for="tab in tabs.all"
                                @click="select_tab(tab.value)"
                                class="ui button"
                                :class="form.filter.mode == tab.value ? 'black' : ''">
                            {{ tab.name }}
                        </button>
                    </div>
                </div>
            </div>
            <div v-if="form.filter.mode == 'organization'">
                <br />
                <div class="ui form">
                    <div class="field"
                         v-for="tag_group in options.filter.tags.org">
                        <label>{{ tag_group.name }}</label>
                        <div v-if="tag_group.exclusive">
                            <endorser-filter-form-exclusive-tags :tags="tag_group.tags"
                                                                 :selected_tags="form.filter.tags">
                            </endorser-filter-form-exclusive-tags>
                        </div>
                        <div v-if="!tag_group.exclusive">
                            <endorser-filter-form-tags :tags="tag_group.tags"
                                                       :selected_tags="form.filter.tags">
                            </endorser-filter-form-tags>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="form.filter.mode == 'personal'">
                <br />
                <div class="ui form">
                    <div class="field"
                         v-for="tag_group in options.filter.tags.personal">
                        <label>{{ tag_group.name }}</label>
                        <div v-if="tag_group.exclusive">
                            <endorser-filter-form-exclusive-tags :tags="tag_group.tags"
                                                                 :selected_tags="form.filter.tags">
                            </endorser-filter-form-exclusive-tags>
                        </div>
                        <div v-if="!tag_group.exclusive">
                            <endorser-filter-form-tags :tags="tag_group.tags"
                                                       :selected_tags="form.filter.tags">
                            </endorser-filter-form-tags>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached secondary segment">
            <div class="ui grid">
                <div class="fourteen wide column">
                    <div class="ui horizontal list">
                        <div class="item" v-for="position in positions">
                            <div class="ui labeled button">
                                <button class="ui icon button"
                                        :class="[form.filter.candidate == position.slug ? 'black' : position.colour]"
                                        @click="update_candidate(position.slug)">
                                    {{ position.name }}
                                </button>
                                <a class="ui basic left pointing label"
                                   :class="[form.filter.candidate == position.slug ? 'black' : position.colour]">
                                    {{ position.count }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div v-if="show_extra_positions"
                         class="ui relaxed horizontal list">
                        <div class="item" v-for="position in extra_positions"
                        style="margin-left: 0; padding-left: 0">
                            <div class="ui labeled button">
                                <button class="ui icon button"
                                        :class="[form.filter.candidate == position.slug ? 'black' : position.colour]"
                                        @click="update_candidate(position.slug)">
                                    {{ position.name }}
                                </button>
                                <a class="ui basic left pointing label"
                                   :class="position.colour">
                                    {{ position.count }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two wide right aligned column">
                    <div class="ui small basic icon button"
                         data-position="top right"
                         data-tooltip="The numbers show how many endorsers
                         we have for each position, given the current filters.
                         Click on a button to filter by that position. Black = currently selected.">
                          <i class="help icon"></i>
                    </div>
                    <div class="ui small basic icon button"
                         @click="show_extra_positions = !show_extra_positions"
                         data-position="bottom right"
                         data-tooltip="Show/hide more positions">
                          <i class="icon"
                             :class="[show_extra_positions ? 'minus' : 'plus']">
                          </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="endorser-accounts-template">
    <div class="ui mini vertical buttons">
        <a v-for="account in accounts" class="ui twitter icon button"
           :href="url(account)"  :data-tooltip="'@' + account.u">
            <i class="twitter icon"></i>
            {{ account.n }} followers
        </a>
    </div>
</template>

<template id="endorsement-label-template">
    <div class="ui label"
         :class="endorsement.c">
         {{ endorsement.di }}
    </div>
</template>

<template id="endorsement-accordion-item-template">
    <div>
        <div class="title"
             :class="{active: expanded}"
             @click="toggle()">

            <i class="dropdown icon"></i>
            <endorsement-label :endorsement="endorsement">
            </endorsement-label>
            as of
            <div class="ui basic label">
                {{ endorsement.da }}
            </div>
        </div>
        <div class="content"
             :class="{active: expanded}">
            <blockquote :cite="endorsement.su">
                <p v-if="endorsement.e">
                    <em>
                        [{{ endorsement.ecx }}
                        <a :title="endorsement.ed">{{ endorsement.e }}</a>]
                    </em>
                    <br />
                    <br />
                </p>

                <p v-if="endorsement.cx">
                    <em>[{{ endorsement.cx }}]</em>
                    <br />
                    <br />
                </p>

                <p>{{ endorsement.q }}</p>
                <footer>
                    <cite>
                        &mdash;
                        <a :href="endorsement.su">
                            {{ endorsement.sn }}
                            <i class="external link icon"></i>
                        </a>
                        <span v-if="endorsement.da != endorsement.sd">
                            (published {{ endorsement.sd }})
                        </span>
                    </cite>
                </footer>
            </blockquote>
        </div>
    </div>
</template>

<template id="endorsements-accordion-template">
    <div>
        <div v-if="endorsements && endorsements.length"
             class="ui fluid accordion">
            <endorsement-accordion-item v-for="(endorsement, index) in endorsements"
                                        :present="index == 0"
                                        :endorsement="endorsement"
                                        :endorser="endorser">
            </endorsement-accordion-item>
        </div>
        <div v-else>
            <div v-if="endorser.c">
                <h3>{{ endorser.n }} is a candidate.</h3>
            </div>
            <div v-else>
                <h3>{{ endorser.n }} has not endorsed anyone yet.</h3>
            </div>
        </div>
    </div>
</template>

<template id="comments-accordion-template">
    <div v-if="comments && comments.length">
        <div class="ui divider"></div>
        <div class="ui fluid accordion">
             <h3>Comments</h3>
             <div v-for="comment in comments">
                {{ comment.candidate }}
             </div>
        </div>
    </div>
</template>

<template id="endorser-tags-template">
    <div class="ui labels">
        <div class="ui label" v-for="tag in tags">
            {{ tag[0] }}
        </div>
    </div>
</template>

<template id="endorser-card-template">
    <div class="ui column">
        <div class="ui segment">
            <div class="ui grid">
                <div class="four wide column">
                    <img class="ui fluid image"
                         :src="'https://s3.amazonaws.com/endorsementdb.com/images/endorsers/' + endorser.i + '.png'" />
                    <br />

                    <endorser-accounts :accounts="endorser.a">
                    </endorser-accounts>
                </div>
                <div class="twelve wide column">
                    <div class="ui header" :data-tooltip="endorser.d"
                         data-position="top left">
                        <a :href="'/endorser/' + endorser.p">
                            {{ endorser.n }}
                        </a>
                        <div v-if="endorser.u" class="sub header">
                            <a :href="endorser.u"
                               class="meta">
                                {{ endorser.u }}
                            </a>
                        </div>
                    </div>

                    <div class="ui divider"></div>

                    <div class="ui small labels"
                         v-if="endorser.t.length">
                        <endorser-tags :tags="endorser.t">
                        <endorser-tags>
                    </div>

                    <div class="ui divider"></div>

                    <endorsements-accordion :endorser="endorser"
                                            :endorsements="endorser.e">
                    </endorsements-accordion>

                    <comments-accordion :endorser="endorser"
                                        :comments="endorser.c">
                    </comments-accordion>
                </div>
            </div>
        </div>
    </div>
</template>

<div id="app">
    <div>
        <endorser-sort-filter-form :loaders="loaders"
                                   :positions="positions"
                                   :extra_positions="extra_positions"
                                   :show_extra_positions="show_extra_positions"
                                   @form_changed="get_endorsers">
        </endorser-sort-filter-form>

        <div class="ui divider"></div>

        <div v-if="endorsers.length > 0">
            <endorser-search-stats :stats="stats">
            </endorser-search-stats>
            <div class="ui divider"></div>
        </div>

        <div class="ui two column stackable grid">
            <endorser-card v-for="(endorser, endorser_index) in endorsers"
                           :endorser="endorser">
            </endorser-card>
        </div>

        <div class="ui info message"
             v-if="endorsers.length == 0 && at_end">
            Could not find any endorsers.
        </div>
    </div>

    <div class="ui hidden divider"></div>

    <div v-if="loaders > 0">
        <div class="ui basic segment">
            <div class="ui active loader"></div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script>
function get_hash_dict() {
    var hash = (window.location.hash || '').substring(1);
    var hash_dict = {};

    try {
        hash.split('&').forEach(function(pair) {
            var split = pair.split('=');
            var field_name, field_value;

            field_name = split[0];

            if(field_name.length === 0) return;

            if(split.length == 1) {
                field_value = true;
            } else {
                field_value = deserialize(split[1]);
            }

            hash_dict[field_name] = field_value;
        });

        return hash_dict;
    }
    catch(e) {
        console.error('hash cannot be parsed', hash, e);
        return {};
    }
}

function get_from_hash(field_name) {
    var hash_dict = get_hash_dict();
    if(typeof hash_dict[field_name] != 'undefined') {
        return hash_dict[field_name];
    }
}

function update_hash(field_name, field_value) {
    var hash_dict = get_hash_dict();
    hash_dict[field_name] = field_value;

    var hash = [];
    for(var field_name in hash_dict) {
        var field_value = serialize(hash_dict[field_name]);
        hash.push(field_name + '=' + field_value);
    }

    var hash_string = '#' + hash.join('&');

    window.location.hash = hash_string;
}

function serialize(obj) {
    return btoa(JSON.stringify(obj)).replace(/=/g, '');
}

function deserialize(obj) {
    return JSON.parse(atob(obj));
}

Vue.component('endorser-search-stats', {
    template: '#endorser-search-stats-template',

    data: function() {
        return {
            expanded: false,
            tab: 'tags',
        };
    },

    methods: {
        toggle_expanded: function() {
            this.expanded = !this.expanded;
        },
        percentage: function(num, stats) {
            var total = stats.count.endorsers;
            return (100 * num / total).toFixed(1);
        },
    },

    props: ['stats'],
});

Vue.component('endorser-filter-form-tags', {
    template: '#endorser-filter-form-tags-template',

    methods: {
        tag_is_selected: function(tag) {
            return this.selected_tags.indexOf(tag.pk) >= 0;
        },
        toggle_tag: function(tag) {
            var tag_index = this.selected_tags.indexOf(tag.pk);

            if(tag_index >= 0) {
                this.selected_tags.splice(tag_index, 1);
            } else {
                this.selected_tags.push(tag.pk);
            }
        },
    },

    props: ['selected_tags', 'tags'],
});

Vue.component('endorser-filter-form-exclusive-tags', {
    template: '#endorser-filter-form-exclusive-tags-template',

    methods: {
        tag_is_selected: function(tag) {
            return this.selected_tags.indexOf(tag.pk) >= 0;
        },
        toggle_tag: function(tag) {
            if(this.tag_is_selected(tag)) {
                this.raw_unselect_tag(tag);
            } else {
                this.tags.forEach(this.raw_unselect_tag);
                this.selected_tags.push(tag.pk);
            }
        },

        raw_unselect_tag: function(tag) {
            var tag_index = this.selected_tags.indexOf(tag.pk);
            if(tag_index >= 0) {
                this.selected_tags.splice(tag_index, 1);
            }
        },
    },

    mounted: function() {
        var component = this;
        $(component.$el)
            .find('.ui.search.selection.dropdown')
            .dropdown({
                onChange: function(value, text) {
                    if(value == "none") {
                        component.tags.forEach(component.raw_unselect_tag);
                    } else {
                        value = parseInt(value, 10);
                        component.toggle_tag({ name: text, pk: value });
                    }
                },
            });
    },

    props: ['selected_tags', 'tags'],
});

Vue.component('endorser-sort-filter-form', {
    template: '#endorser-sort-filter-form-template',

    data: function() {
        return {
            form: {
                sort: {
                    by: 'followers',
                    value: 'most',
                },
                filter: {
                    tags: [],
                    mode: 'none',
                    candidate: 'all',
                },
            },
            tabs: {
                all: [
                    { name: 'All endorsements', value: 'none' },
                    { name: 'People only', value: 'personal' },
                    { name: 'Organizations only', value: 'organization' },
                ],
            },
            options: {
                sorting: [
                    {
                        name: 'Followers',
                        value: 'followers',
                        options: [
                            { name: 'Most', value: 'most' },
                            { name: 'Least', value: 'least' },
                        ],
                    },
                    {
                        name: 'Endorsement date',
                        value: 'date',
                        options: [
                            { name: 'Newest first', value: 'newest' },
                            { name: 'Oldest first', value: 'oldest' },
                        ],
                    },
                    {
                        name: 'Name',
                        value: 'name',
                        options: [
                            { name: 'A-Z', value: 'az' },
                            { name: 'Z-A', value: 'za' },
                        ],
                    },
                ],
                filter: {
                    tags: {},
                }
            },
        };
    },

    methods: {
        sort: function(method, value) {
            this.form.sort.by = method;
            this.form.sort.value = value;
        },
        sorting_by: function(method, value) {
            return this.form.sort.by == method &&
                   this.form.sort.value == value;
        },

        get_tags: function() {
            var component = this;
            var tagsUrl = '/api/tags.json';

            $.getJSON(tagsUrl)
            .done(function(tag_options) {
                component.options.filter.tags = tag_options;
            });
        },

        select_tab: function(tab) {
            this.form.filter.tags = [];
            this.form.filter.mode = tab;
        },

        update_hash_with_form: function() {
            update_hash('form', this.form);
        },

        update_candidate: function(candidate) {
            this.form.filter.candidate = candidate;
        },

        search: function() {
            this.$emit('form_changed', this.form);
            this.update_hash_with_form();
        },
    },

    mounted: function() {
        this.get_tags();
        var hash_form = get_from_hash('form');
        if(hash_form) {
            this.form = hash_form;
        } else {
            var candidate = null;
            if (window.location.hash.startsWith('#candidate=')) {
                candidate = window.location.hash.substring(11)
            }

            if (candidate) {
                this.form.filter.candidate = candidate;
            } else {
                this.search();
            }
        }
    },

    watch: {
        form: {
            deep: true,
            handler: function() {
                this.search();
            },
        },
    },

    props: ['loaders', 'positions', 'extra_positions', 'show_extra_positions'],
});

Vue.component('endorser-accounts', {
    template: '#endorser-accounts-template',

    methods: {
        url: function(account) {
            return 'https://twitter.com/' + account.u;
        },
    },

    props: ['accounts'],
});

Vue.component('endorsement-label', {
    template: '#endorsement-label-template',

    props: ['endorsement'],
});

Vue.component('endorsement-accordion-item', {
    template: '#endorsement-accordion-item-template',

    data: function() {
        return {
            expanded: false,
        };
    },

    methods: {
        toggle: function() {
            this.expanded = !this.expanded;
        },
    },

    props: ['endorser', 'endorsement', 'present'],
});

Vue.component('comments-accordion', {
    template: '#comments-accordion-template',

    props: ['endorser', 'comments'],
});

Vue.component('endorsements-accordion', {
    template: '#endorsements-accordion-template',

    props: ['endorser', 'endorsements'],
});

Vue.component('endorser-tags', {
    template: '#endorser-tags-template',

    props: ['tags'],
});

Vue.component('endorser-card', {
    template: '#endorser-card-template',

    props: ['endorser'],
});

new Vue({
    el: '#app',

    created: function() {
        var component = this;

        $(window).scroll(function() {
            var current_position = $(window).scrollTop() + $(window).height();
            var doc_height_with_buffer = $(document).height() - 100;


            if(component.loaders == 0) {
                if(current_position >= doc_height_with_buffer) {
                    component.$emit('maybe-load-more-endorsers');
                }
            } else {
                setTimeout(function() {
                    component.$emit('maybe-load-more-endorsers');
                }, 250);
            }

        });

        component.$on('maybe-load-more-endorsers', function() {
            if(!component.at_end) {
                component.get_endorsers();
            }
        });
    },

    data: {
        loaders: 0,
        positions: [],
        extra_positions: [],
        show_extra_positions: false,
        endorsers: [],
        page_size: 12,
        stats: null,
        at_end: false,
        last_form: null,
    },

    methods: {
        get_endorsers: function(form) {
            var component = this;

            if(typeof form == 'undefined') {
                form = component.last_form;
            } else {
                component.last_form = form;
                component.at_end = false;
                component.endorsers = [];
            }

            component.stats = null;

            component.loaders += 1;

            var endorsersUrl = '/api/endorsements.json';
            endorsersUrl += "?skip=" + component.endorsers.length;

            $.ajax({
                type: 'POST',
                url: endorsersUrl,
                data: JSON.stringify(form),
                contentType: 'application/json'
            })
            .done(function(response) {
                component.positions = response.positions;
                component.extra_positions = response.extra_positions;
                component.show_extra_positions = response.show_extra_positions;

                var endorsers = response.endorsers;
                component.endorsers = component.endorsers.concat(endorsers);

                if(endorsers.length < 12) {
                    component.at_end = true;
                }

                var sorted_tags = [];
                for(var tag_name in response.stats.tags) {
                    sorted_tags.push({
                        name: tag_name,
                        count: response.stats.tags[tag_name],
                    });
                }
                sorted_tags.sort(function(x,y) {
                    return y.count - x.count;
                });
                response.stats.tags = sorted_tags;

                var sorted_positions = [];
                for(var position_name in response.stats.positions) {
                    var icon = '';

                    if(position_name.indexOf('Endorse') >= 0) icon = 'green';
                    if(position_name.indexOf('Support') >= 0) icon = 'blue';
                    if(position_name.indexOf('Oppose') >= 0) icon = 'red';

                    sorted_positions.push({
                        name: position_name,
                        icon: icon,
                        count: response.stats.positions[position_name],
                    });
                }
                sorted_positions.sort(function(x,y) {
                    return y.count - x.count;
                });
                response.stats.positions = sorted_positions;

                var avg_followers = response.stats.followers.total;
                if (avg_followers > 0) {
                    avg_followers /= response.stats.followers.count;
                    avg_followers = Math.floor(avg_followers);
                    response.stats.followers.average = avg_followers;
                }

                component.stats = response.stats;

                component.loaders -= 1;
            });
        },
    },

    mounted: function() {
    },
});
</script>
{% endblock %}
