{% extends "base.html" %}

{% load humanize %}

{% block title %}
Wikipedia page progress
{% endblock %}


{% block content %}
{% if request.user.is_staff %}
<a href="{% url 'confirm-next' %}" class="ui blue button">
    Confirm endorsements
</a>
{% endif %}
<table class="ui celled padded table">
    <thead>
        <tr>
            <th class="collapsing">Status</th>
            <th class="collapsing">Wikipedia page</th>
            <th>Wikipedia endorsements</th>
            <th>Confirmed</th>
            <th>Unconfirmed</th>
            <th>Could not be verified</th>
            <th>Missing from Wikipedia</th>
        </tr>
    </thead>
    <tbody>
        {% for position in positions %}
        <tr>
            <td>
                {% if position.progress == 100 %}
                <div class="ui small green statistic">
                    <div class="value">
                        100%
                    </div>
                    <div class="label">
                        done
                    </div>
                </div>
                {% else %}
                <div class="ui small red statistic">
                    <div class="value">
                        {{ position.progress }}%
                    </div>
                    <div class="label">
                        done
                    </div>
                </div>
                {% endif %}
            </td>
            <td>
                <h3 class="ui header">
                    {{ position.name }}
                    <div class="sub header" title="{{ position.last_checked }}">
                        last checked {{ position.last_checked|naturaltime }}
                    </div>
                </h3>
                <a href="http://en.wikipedia.org/wiki/{{ position.slug }}">
                    {{ position.slug }}
                </a>
            </td>
            <td>
                {{ position.num_imported }}
            </td>
            <td>
                {{ position.num_confirmed }}
                <a href="{% url 'progress-list' slug=position.slug mode='already' %}"
                   class="ui mini blue icon button">
                    <i class="list icon"></i>
                </a>
            </td>
            <td>
                {{ position.num_unconfirmed }}
                <a href="{% url 'progress-list' slug=position.slug mode='notyet' %}"
                   class="ui mini blue icon button">
                    <i class="list icon"></i>
                </a>
            </td>
            <td>
                {{ position.num_unverifiable }}
                <a href="{% url 'progress-list' slug=position.slug mode='notyet' %}"
                   class="ui mini blue icon button">
                    <i class="list icon"></i>
                </a>
            </td>
            <td>
                {{ position.num_missing }}
                <a href="{% url 'progress-list' slug=position.slug mode='missing' %}"
                   class="ui mini blue icon button">
                    <i class="list icon"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
